@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

$main-color: #f09d51;

.main-login {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    to right,
    rgb(224, 223, 213) 50%,
    $main-color 50%
  );
  display: flex;
  align-items: center;
  .login-contain {
    height: 70vh;
    width: 70%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(236, 236, 236, 0.4)
    );
    border-radius: 1rem;
    margin: 5rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(49, 54, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    .link {
      text-decoration: none;
      color: $main-color;
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-5px);
        color: gray;
      }
    }
    .left-side,
    .right-side {
      margin: 2rem 2rem;
      box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(49, 54, 56);
      height: 80%;
      width: 100%;
    }
    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .intranet h1 {
        height: 4.5rem;
        display: flex;
        justify-content: center;
        color: $main-color;
        font-weight: 500;
        font-size: 2.5em;
        line-height: 1.3;
        span {
          color: $main-color;
          display: inline-block;
          padding: 0px;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          opacity: 0.5;
        }
      }
      .footer {
        display: flex;
        justify-content: center;
        a {
          color: $main-color;
          &:hover {
            opacity: 50%;
          }
        }
        h4 {
          color: #313638;
          margin-top: 1.5rem;
        }
      }
      input {
        display: block;
        border: none;
        height: 2rem;
        width: 70%;
        margin: auto;
        margin-bottom: 1.5rem;
        padding: 0.2rem 1rem;
        color: #313638;
        transition: all 0.1s ease-in-out;
        &:focus {
          outline: none;
          border: none;
        }
        &:hover {
          outline: 0.5px solid $main-color;
          box-shadow: 2px 2px 9px -2px $main-color;
        }
      }
      label {
        display: block;
        text-align: left;
        width: 78%;
        margin: auto;
        color: #313638;
        margin-bottom: 0.5rem;
      }
      #sub_butt {
        width: 60%;
        background: $main-color;
        color: white;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease;
        margin: auto;
        display: block;
        &:hover {
          box-shadow: 4px 3px 9px -1px gray;
          transform: translateY(-5px);
        }
      }
    }
    .right-side {
      .welcomeNote {
        h3 {
          color: #313638;
          margin: 1rem 1rem 1rem 1rem;
        }
      }
      .welcomeImg {
        height: 100%;
        width: 70%;
        margin: 0rem auto;
        #wel-img-id {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .right-side {
    display: none;
  }
}

@media (max-width: 390px) {

  }